<md-toolbar color="primary">
  <span>FR-S Mileage Tracker</span>
</md-toolbar>

<ul>
  <li class="text" *ngFor="let item of items | async">
    <md-card>
      <md-card-title-group>
        <md-card-title>{{item.ft | date}}</md-card-title>
        <md-card-subtitle>Odometer: {{item.o}}</md-card-subtitle>
        <md-card-subtitle>Trip: {{item.t}}</md-card-subtitle>
        <md-card-subtitle>Gas Price: ${{item.gp}}</md-card-subtitle>
        <md-card-subtitle>Total: ${{item.gtp}}</md-card-subtitle>
      </md-card-title-group>
    </md-card>
  </li>
</ul>